.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.sm {
  max-width: var(--container-sm);
}

.md {
  max-width: var(--container-md);
}

.lg {
  max-width: var(--container-lg);
}

.xl {
  max-width: var(--container-xl);
}
